html{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
* {
    box-sizing: border-box;
}
/* reset for old browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    font-family: Arial;
    padding: 20px;
    background: #f1f1f1;
}

/*getting top image to fit web browser*/
.banner{
    width: 100%
}
.bannertext{
    color: white;
    position: absolute;
    font-size: 3em;
    font-family: sans-serif;
    font-weight: bold;
    width: 100%;
    text-align: center;
    bottom: 45%;
}
/* Style the top navigation bar */
.topnav {
    overflow: hidden;
    background-color: rgb(168, 164, 164);
}
/*To make there be the line appear*/
.bar{
    position: relative;
    text-align: center;
}
/* Style the topnav links */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
    float: left;
    width: 33.33%;
    padding: 5px;
  }
  
  /* Clear floats after image containers */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  .row {
    display: flex;
  }
  
  .column {
    flex: 33.33%;
    padding: 5px;
  }
/* Change color on hover */
.topnav a:hover {
    background-color: #00FFFF;
    color: blue;
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {   
    float: left;
    width: 75%;
}
h1{
    font-size: 2em;
}
h2{
    color: grey;
    text-align: center;
    font-size: 2em;
}

p{
    color: grey;
    text-align: center;
    font-size: 1.5rem
}
/* Right column */
.rightcolumn {
    float: left;
    width: 25%;
    background-color: #f1f1f1;
    padding-left: 20px;
}

/* Fake image */
.fakeimg {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
}

/* Add a card effect for articles */
.card {
     background-color: white;
     padding: 20px;
     margin-top: 20px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Footer */
/*To make footer match the midterm*/
footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 3%;
    vertical-align: middle;
    padding: 3%;
}

/* Contact form */

*{
  box-sizing: border-box;
}
body{
    background-size: 2000px;
    margin: 0 auto;
    font-size: 1rem;
    color: w;    
    font-family: 'Noticia Text', serif;
}
form{
  margin: 1rem;
  border: 5px solid darkblue;
  padding: 3rem;
  border-radius: 2rem;
  box-shadow: 5px 10px blue;
  font-weight: bold;
}
fieldset{
  padding: 0 0 1rem 0;
}

label{
  display: block;
  margin: 0 0 0.5rem 0;
  border-radius: 1rem;
}
input,
textarea{
  background-color: aqua;
  width: 100%;
  padding: 0.7rem;
  color: black;
  border-radius: 0.5rem;
  overflow: hidden;
}
fieldset:nth-child(4) input{
    width: auto;
  }
input[type="submit"]{
  background-color: black;
  width: 100%;
  font-size: 1.2rem;
  color: white;
  box-shadow: 2px 5px darkgrey;
}
input[type="submit"] hover{
  background-color: white;
  font-weight: bold;
}
@media all and (min-width:35rem){

    form {
        margin: 2rem;
        font-size: 1rem;
    }
  fieldset:nth-child(1),
    fieldset:nth-child(2){
        float: left;
        width: calc(50% - 1rem + 0.5rem);
        margin: 0 1rem 0 0;
    }
    
    fieldset:nth-child(2){
        margin: 0;
    }

    fieldset:nth-child(3){
        clear: both;
    }

    input[type="submit"]{
        width: 25%;
    }
   
}
@media all and (min-width:60rem){

    form{
        font-size: 1.5rem;
        margin: 3rem;
        max-width: 80rem;
    }

}



@media screen and (max-width: 35rem)/*used to make the screen change in order to fit the screen*/
{
    /*To make the words on the banner stay still and to fix font size*/
    .bannertext{
    color: white;
    position: absolute;
    font-size: 1.5rem;
    font-family: sans-serif;
    font-weight: bold;
    width: 100%;
    text-align: center;
    bottom: 45%;
    }

}
footer{
    padding: 5%;
}
/*Greater then 80 rem*/
 
@media screen and (min-width: 85rem)/*Used to make the final and largest screen*/
{
    
/*correct sizing for image on larger page*/
.photo{
     width: 200%;
    padding-left: 0;
}
    /*Fixed text overlapping footer*/
footer{
    clear: both;
    }
}
